params {
    threads = 4
    outdir = "results"
    queryurl = "https://ftp.ebi.ac.uk/ensemblgenomes/pub/protists/release-62/fasta/plasmodium_falciparum/dna/Plasmodium_falciparum.GCA000002765v3.dna.toplevel.fa.gz"
    hosturl = "https://ftp.ebi.ac.uk/ensemblgenomes/pub/metazoa/release-62/fasta/anopheles_gambiae/dna/Anopheles_gambiae.AgamP4.dna.toplevel.fa.gz"
    samplesheet = 'testing/indir/samplesheet/samplesheet.csv'
    adapters = 'assets/adapters.fa'
}

manifest {
    name = 'pathogenepidemiology'
    description = 'Epidemiology pipeline'
    version = '0.1.0dev'
}

profiles {
    gpu {
        process {
            withName: /CLAIR3|CLAIR3_CUSTOM/ { 
                publishDir = [
                path: { "${params.outdir}/varcalls" },
                mode: 'copy',
                overwrite: true
            ] 
                label = 'gpu'
                accelerator = 1
                ext.args = '--use_gpu'
                memory = '15 GB'
            }
        }
    }
    cpu {
        process {
            withName: /CLAIR3|CLAIR3_CUSTOM/ {
                publishDir = [
                path: { "${params.outdir}/varcalls" },
                mode: 'copy',
                overwrite: true
            ] 
                label = 'cpu'
                accelerator = 0
                ext.args = ''
                memory = '15 GB'
            }
        }
    }
}

process {
    withName: 'BBDUK_CUSTOM' {
        publishDir = [
            path: { "${params.outdir}/trimmed" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
        cpus = params.threads
        ext.args = { 'ktrim=r k=23 mink=11 prealloc=t qhdist=1 tpe=t tbo=t minlen=36 -da' }
    }

    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '5 GB'
        cpus = 2
    }

    withName: 'MINIMAP2_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/aligned_l" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'MINIMAP2_INDEX' {
        publishDir = [
            path: { "${params.outdir}/mm2i" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'BWAMEM3_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bw3i" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
        ext.args = '--max-memory 15G'
    }

    withName: 'BWAMEM3_MEM' {
        publishDir = [
            path: { "${params.outdir}/aligned_s" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/aligned_stats" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
        ext.args = '--max-memory 15G'
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/download" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            overwrite: true
        ]
    }

    
}