/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: 'BBDUK_CUSTOM' {
    publishDir = [
        path: { "${params.outdir}/trimmed" },
        mode: 'copy',
        overwrite: true
    ]
    cpus = 7
    memory = '20 GB' // TODO: Change back to 15GB and comment out 'speed=not-default'
    ext.args = [
        'ktrim=r',
        'k=23',
        'mink=11',
        'prealloc=t',
        'qhdist=1',
        'tpe=t',
        'tbo=t',
        'minlen=36',
        'speed=2', // higher=faster, lower=more accurate. 0 is lower limit/default
        // 'ziplevel=1',
        '-da'
    ].join(' ')
    }

    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '5 GB'
        cpus = 2
        ext.args = '--quiet'
    }

    withName: 'MINIMAP2_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/aligned_l" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'MINIMAP2_INDEX' {
        publishDir = [
            path: { "${params.outdir}/mm2i" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'BWAMEM3_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bw3i" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
        ext.args = '--max-memory 15G'
    }

    withName: 'BWAMEM3_MEM' {
    publishDir = [
        path: { "${params.outdir}/aligned_s" },
        mode: 'copy',
        overwrite: true
    ]
        ext.args = { "-R '@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:${meta.id}'" }
        memory = '15 GB'
    }

    withName: 'SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/aligned_stats" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/download" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GATK4_CLEANSAM' {
        publishDir = [
            path: { "${params.outdir}/clean_bams" },
            mode: 'copy',
            overwrite: true
        ]
        cpus = 1
        ext.prefix = { "${meta.id}.clean" }
    }

    withName: 'GATK4_MARKDUPLICATES_CUSTOM' {
    publishDir = [
        path: { "${params.outdir}/clean_bams" },
        mode: 'copy',
        overwrite: true
    ]
    ext.prefix = { "${meta.id}.sorted.dup" }
    ext.args   = '--CREATE_INDEX false'   // we index the pf BAM ourselves
    cpus = params.threads
    memory     = '15 GB'
    }

    withName: 'MOSDEPTH' {
    publishDir = [
        path: { "${params.outdir}/mosdepth" },
        mode: 'copy',
        overwrite: true
    ]
    ext.prefix = { "${meta.id}" }
    ext.args   = '--fast-mode -n'
    cpus = params.threads
    memory     = '15 GB'
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
    publishDir = [
        path: { "${params.outdir}/varcalls_gvcf" },
        mode: 'copy',
        overwrite: true
    ]
    cpus   = params.threads
    memory = '15 GB'
    ext.prefix = { "${meta.id}.g" }
    ext.args   = [
        '-ERC GVCF',
        '-ploidy 6',
        '--assembly-region-padding 100',
        '--max-num-haplotypes-in-population 128',
        '--kmer-size 10',
        '--kmer-size 25',
        '--min-dangling-branch-length 4',
        '--heterozygosity 0.0029',
        '--indel-heterozygosity 0.0017',
        '--min-assembly-region-size 100',
        '-mbq 5',
        '-DF MappingQualityReadFilter',
        '--base-quality-score-threshold 12'
    ].join(' ')
}

}
